/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --VERDE: #84c048;
  --coloriconyletras: #350c06;
}

body {
  min-height: 200vh;
  background: var(--VERDE);
  overflow-x: hidden;
}

.contenedor {
  position: relative;
  width: 100%;
}

/* =============== navigationn ================ */
.navigationn {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: var(--white);
  border-left: 10px solid var(--white);
  transition: 0.5s;
  overflow: hidden;
  border-top-right-radius: 30px;
  /* Esquina superior derecha redondeada */
  border-bottom-right-radius: 30px;
  /* Esquina inferior derecha redondeada */
}

.navigationn.active {
  width: 80px;
}

.navigationn ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigationn ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigationn ul li:hover,
.navigationn ul li.hovered {
  background-color: var(--VERDE);
}

.navigationn ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigationn ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--coloriconyletras);
}

.navigationn ul li:hover a,
.navigationn ul li.hovered a {
  color: var(--coloriconyletras);
}

.navigationn ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigationn ul li a .icon img {
  margin-top: 30px;
  margin-left: 20px;
  width: 100%;
  height: 50px;
  background-color: transparent;
}

.navigationn.active .icon img {
  background-color: transparent;
  display: none;
}

.navigationn ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigationn.active .icon {
  background-color: transparent;
  transform: scale(1.4);
  /* Aumenta el tamaño del icono */
  margin-left: -30px;
  /* Desplaza el icono un poco más hacia la izquierda */
  position: relative;
  /* O usa absolute si es necesario */
  z-index: 9999;
  /* Asegura que esté por encima de otros elementos */
}

.navigationn.active .title {
  display: none;
  /* Oculta el texto del título cuando la barra está en estado 'active' */
}


/* --------- curve outside ---------- */
.navigationn ul li:hover a::before,
.navigationn ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--VERDE);
  pointer-events: none;
}

.navigationn ul li:hover a::after,
.navigationn ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--VERDE);
  pointer-events: none;

}



/* ===================== FORM ===================== */
.wrapper {
  width: 700px;
  color: black;
  border-radius: 12px;
  padding: 30px 40px;

}

/* Organizar columnas */
.Total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: -100px;
}

.Columna1 {
  flex: 1;
  /* Cada columna ocupa la mitad del espacio */
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.wrapper h1 {
  font-size: 24px;
  text-align: center;
  margin-right: -50px;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-box input,
#addNombre,
#addEmail,
#addPassword{
  width: 400px;
  height: 100%;
  background: gainsboro;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 10px 20px;
}

#addNombre,
#addEmail {
  margin-left: 50px;
}

#addPassword, #btnguardar {
  margin-left: -60px;
}

.input-box input::placeholder {
  color: black;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .btn {
  align-items: center;
  width: 50%;
  height: 45px;
  background: var(--blue);
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-top: 15px;
}

/* ===================== Main ===================== */
.mainn {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--VERDE);
  transition: 0.5s;

}

.mainn.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.activarmenu {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}


/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  height: 350px;
  width: 800px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  background-color: white;
  height: 300px;
  position: relative;
  padding: 30px;
  border-radius: 20px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}


/* ====================== TABLA ========================== */

/* Centramos el texto y contenido dentro de las celdas */
#datatable_users {
  width: 900px;
  margin-left: 10px;
  border-collapse: collapse;
  border-radius: 10px;
  /* Esquinas redondeadas en toda la tabla */
  overflow: hidden;
  /* Asegura que las esquinas redondeadas se mantengan */
}

/* Estilo para las celdas */
#datatable_users th,
#datatable_users td {
  text-align: center;
  /* Centramos el texto */
  padding: 12px;
  /* Espaciado interno */
}

/* Estilo para las cabeceras */
#datatable_users th {
  background-color: #f8f9fa;
  color: #333;
  font-weight: bold;
}

/* Estilo para las filas */
#datatable_users tbody tr {
  background-color: #ffffff;
  /* Fondo blanco para las filas */
  transition: background-color 0.3s ease;
  /* Transición suave */
}

/* Cambiar el color de fondo cuando pasas el mouse sobre una fila */
#datatable_users tbody tr:hover {
  background-color: #f1f1f1;
}

#datatable_users tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  /* Esquina inferior izquierda */
}

#datatable_users tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  /* Esquina inferior derecha */
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }

  .navigation.active {
    width: 300px;
    left: 0;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    left: 300px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }

  .recentOrders {
    overflow-x: auto;
  }

  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardHeader h2 {
    font-size: 20px;
  }

  .user {
    min-width: 40px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle {
    z-index: 10001;
  }

  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}

.centered {
  text-align: center !important;
  vertical-align: middle !important;
}